@font-face {
  font-family: "london";
  src: url("../fonts/oldlondon.ttf") format("truetype");
}

@font-face {
  font-family: "cloister";
  src: url("../fonts/CloisterBlack.ttf") format("truetype");
}

@font-face {
  font-family: "chancery";
  src: url("../fonts/BLKCHCRY.TTF") format("truetype");
}

a:link, a:visited {
  background-color: #101010;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: double;
  border-color: black;
}


body {
    color: #8f7762;
    background-color: #101010;
    font-family: chancery, serif, Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
  font-size: 400%;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 15px 30px;
  font-family: chancery, serif, Arial, Helvetica, sans-serif;
  font-size: 110%;
  text-decoration: none;
}

a:hover {
  background-color: #8d7662;
  color: whitesmoke;
}
